body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif;}
body, html {
    height: 100%;
    color: #777;
    line-height: 1.8;
}

/*Icon for nav bar*/
.piggy-icon{
    width: 37px;
}

/*Logo at top*/
.logo-border {
    color:#fff!important;
    border-color:#fff!important;
    border:4px solid;
    overflow:hidden;
}

/* Create a Parallax Effect */
.bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4 {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* First image (Logo. Full height) */
.bgimg-1 {
    background-image: url("files/backgrounds/png/bg2.png");
    min-height: 100%;
}

/* Second image (REEL) */
.bgimg-2 {
    background-image: url("files/backgrounds/png/bg18.png");
    min-height: 400px;
}

/* Third image (WORK) */
.bgimg-3 {
    background-image: url("files/backgrounds/png/bg19.png");
    min-height: 400px;
}

/* Fourth image (Resume) */
.bgimg-4 {
    background-image: url("files/backgrounds/png/bg13.png");
    min-height: 400px;
}

.w3-wide {letter-spacing: 10px;}
.w3-hover-opacity {cursor: pointer;}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
    .bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4 {
        background-attachment: scroll;
    }
}

/*Embed responsive vimeo links*/
.embed-container { 
    position: relative; 
    padding-bottom: 56.25%; 
    height: 0; 
    overflow: hidden; 
    max-width: 100%; 
} 
.embed-container iframe, .embed-container object, .embed-container embed { 
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
}

/*Work section: thumbnails in gallery*/
.thumbnail_text {
    color: rgb(255, 255, 255);
}
.thumbnail_img {
  object-fit: cover;
  width:230px;
  height:230px;
}

/*Work section: Modals*/
/*Opacity hack*/
.w3-bg-alpha-90 {
    background-color: rgba(255,255,255,0.9);
}
.w3-bg-alpha-100 {
    background-color: rgba(255,255,255,1.0);
}
.w3-padding-bottom-64{
    padding-bottom:64px!important;
}


/* Work section: Image lightbox Modal*/
.w3-gallery{
    margin-bottom:128px;
}
.w3-gallery-image{
    width: 100%;
    background-color: rgba(255,255,255,1.0);
}
.w3-gallery-image:hover {
    background-color: rgba(255,255,255,0.9);
}

/*Resume section*/
.resume-border {
    color:#757575!important;
    border-color:#757575!important;
    border:4px solid;
    overflow:hidden;
}
img#splashPiggy{
    width: 90%;
}
div#splashName{
    font-family: "Lato", "Verdana";
    font-weight: 900;
    font-size: 24px;
    /*white-space: nowrap;*/
}
div#splashTagLine{
    font-family: "Sue Ellen Francisco", "Verdana";
    font-size: 28px;
    /*white-space: nowrap;*/
}

